.product-Container {
    width: 90%;
    margin: auto;
    overflow: hidden;

}



.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin: auto;
}

.product img {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    
}
