.info-HomeContainer {
  width: 100%;
  margin:auto;
  background-color: #A7C957;
  height: 100px;
  border-bottom: 1px solid black;
}

.info-HomeTitle {
  font-size: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 100%;
  
  color: #1a1a1a;
 
}

.info-Home {
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
  width: 50%;
}







