.fruit-bowl {
    height: 50%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../../../src/assets/banner 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 350px;
}