header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: #A7C957;
    
    
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header nav span {
    margin-right: 3rem;
    cursor: pointer;
    
}


header nav span:last-child {
    margin-right: 0;
}
